<style>
    .imagen{
        height: 500px;
        width: 500px;
    }
    .titulo{
        font-size: 30px;
    }
    .desc{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .datos{
        font-size: 15px;
    }
    .reservar{
        color: #FFF;
        background: #345177;
        background-image: linear-gradient(to right, transparent 50%, #009574 50%, #345177 100%);
        background-size: 200%;
        background-position: 0% 50%;
        transition: 0.8s;
    }
    .reservar:hover {
	color: #FFF;
	background-position: 100% 50%;
    }
    
</style>

<div class="container mt-5" *ngIf="libro">


    <div class="row">

        <div class="col-md-6">
            <img class="imagen" [src]="libro.urlPortada" alt="">
        </div>

        <div class="col-md-6">
            <h1 class="titulo">{{ libro.titulo }}</h1>

            <p class="desc">
                {{ libro.descripcion }}
            </p>
            <hr>
            <p class="datos">
                Dirección: {{ libro.direccion }} <br><br>
                Cupos: {{ libro.cupos }} <br><br>
                Equipos: {{ libro.equipos }} <br><br>
                Proyectores: {{ libro.proyectores }} <br><br>
            </p>
            <div class="mt-5">
                <button mat-raised-button [routerLink]="['/apartar', libro.slug]"  class="reservar w-100 mb-3">
                    <mat-icon>alarm</mat-icon> Reservar
                </button>
            </div>
        </div>

    </div>

</div>